/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 Mar, 2014, 10:36:20 AM
    Author     : DDS
*/

.navbar-brand, .navbar-brand > img
{
    margin: 0;
    padding: 0px 8px;
}

.login-form 
{
    margin-top: 50px;
    text-align: center;
}

.login-form > input[type="submit"]
{
    width: 50%;
    margin: 10px 0px;
}


.login-form input[type="password"], .login-form input[type="text"]
{
    font-size: 16px;
    height: auto;
    width: 80%;
    margin: 10px 0px;
    padding: 12px;
    display: inline;
}

.login-error
{
    text-align: center;
    display: none;
}

.add-form input[type="text"]
{
    display: inline;
    width: 50%;  
}

.add-form div.container-fluid 
{
    padding: 10px 0px;
}

.add-form input
{
    font-size: 18px;
    padding: 10px 10px;
    height: auto;
}
.add-form p
{
    font-size: 18px;
    margin: 0;
    padding: 10px 0px;
}

.add-form input[type="submit"]
{
    text-align: center;
   margin-top: 20px;
   width: 40%;
}