/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 Mar, 2014, 10:36:20 AM
    Author     : DDS
*/

h1,h2,h3,h4,h5,h6
{
   font-family: "Boogaloo" !important;
	font-weight: normal !important;
	color: #666;
	margin: 0;
	padding: 0;
}
.navbar-brand, .navbar-brand > img
{
    margin: 0;
    padding: 0px 8px;
}

.mainheading
{
    text-align: center;
    letter-spacing: 1px;
    font-size: 48px;
    padding: 12px 0px;
    margin-top: 10px;
}



.login-form 
{
    margin-top: 50px;
    text-align: center;
}

.login-form > input[type="submit"]
{
    width: 50%;
    margin: 10px 0px;
}


.login-form input[type="password"], .login-form input[type="text"]
{
    font-size: 16px;
    height: auto;
    width: 80%;
    margin: 10px 0px;
    padding: 12px;
    display: inline;
}

.login-error
{
    text-align: center;
    display: none;
}

.add-form input[type="text"], .add-form select
{
    display: inline;
    width: 50%;  
}

.add-form div.container-fluid 
{
    padding: 10px 0px;
}

.add-form input, .add-form select
{
    font-size: 18px;
    padding: 10px 10px;
    height: auto;
}

.add-form p
{
    font-size: 18px;
    margin: 0;
    padding: 10px 0px;
}

.add-form input[type="submit"]
{
    text-align: center;
   margin-top: 20px;
   width: 40%;
}

.branch-list, .options-list
{
    width: 70%;
    height: 400px;
    overflow-y: auto;
    border: 2px solid #e0e0e0;
    box-shadow: 3px 3px #aaa,inset 3px 3px 12px 4px #eaeaea;
}

.branch-list ul, .branch-list ul li, .options-list ul, .options-list ul li
{
    margin: 0;
    padding: 0px;
    
}

.branch-list ul li, .options-list ul li
{
    padding: 10px 12px;
    display: block;
    border-bottom: 1px solid #e3e3e3;
    margin: 0px 5px;
}

.branch-list ul li label, .options-list ul li label
{
    padding-left: 10px;
    font-weight: normal;
    font-size: 15px;
}

.options-list
{
    width: 50%;
    height: 200px;
}